//css and js from https://codepen.io/simeydotme/pen/PrQKgo
$width-card: 250px;
$height-card: 380px;
.card {
  width: $width-card;
  height: $height-card;
  background-color: #666;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5% / 3.5%;
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5), 4px 4px 25px -15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: block;
  transform-origin: center;
  z-index: 10;
  overflow: hidden;
  transform: translate3d(0, 0, -1px);
}

.card > span {
  position: relative;
  top: 45%;
}

.card:before,
.card:after {
  content: "";
  opacity: 0.5;
  mix-blend-mode: screen;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
}
.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  animation: holoGradient 15s ease infinite both;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 30%,
    transparent 47.5%,
    transparent 52.5%,
    var(--color2) 70%,
    transparent 100%
  );
  mix-blend-mode: color-dodge;
  opacity: 0.8;
  z-index: 2;
  filter: brightness(0.75) contrast(1.5);
}
.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif");
  background-position: center;
  background-size: 160%;
  z-index: 2;
  animation: holoSparkle 15s ease infinite both;
  filter: brightness(2.25);
  transition: filter 0.5s ease;
  mix-blend-mode: screen;
}

.card.active {
  animation: none;
}

.card.active:before {
  opacity: 1;
  animation: none;
  transition: none;
  background-image: linear-gradient(115deg, transparent 15%, var(--color1) 46%, var(--color2) 54%, transparent 85%);
  opacity: 0.8;
  filter: brightness(0.75) contrast(1.5);
}

.card.active:before,
.card.active:after {
  animation: none;
}
.card.active:after {
  filter: brightness(1.2);
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 10vw;
  height: 13.8vw;
  box-shadow: 0 0 1px 1px rgba(white, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  animation: none;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  &:before,
  &:after {
    animation: none;
    opacity: 1;
  }
}
.demo .card:nth-of-type(1) {
  &:before,
  &:after {
    display: none;
  }
}
.demo .card:nth-of-type(2) {
  background: none;
  &:before {
    display: none;
  }
}
.demo .card:nth-of-type(3) {
  background: none;
  &:before {
    background-position: center;
  }
  &:after {
    display: none;
  }
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 45px;
}

@keyframes holoSparkle {
  0%,
  5%,
  100% {
    opacity: 0.2;
    background-position: 50% 50%;
  }
  33% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(1);
  }
  45% {
    opacity: 0.4;
  }
  66% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1);
  }
}

@keyframes holoGradient {
  0%,
  100% {
    opacity: 0.88;
    background-position: 50% 50%;
  }
  33% {
    background-position: 100% 100%;
    opacity: 0.88;
  }
  66% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
}

html,
body {
  height: 100%;
  background-color: #fff;
  padding: 0;
  z-index: -1;
  transform: translate3d(0, 0, 0.1px);
}
body {
  color: white;
  background-color: #fff;
  font-family: "Heebo", sans-serif;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}
h1 {
  display: block;
  margin: 30px 0 60px;
}
p {
  margin-top: 5px;
  font-weight: 200;
}
#app {
  position: relative;
}

.demo,
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.cards .card {
  &:nth-child(2) {
    &,
    &:before,
    &:after {
      animation-delay: 0.2s;
    }
  }
  &:nth-child(3) {
    &,
    &:before,
    &:after {
      animation-delay: 0.4s;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.card.basic {
  --color1: #fff;
  --color2: #fff;
  --color3: #fff;
  --color4: #fff;
  box-shadow: none;
  border: 6px solid #999;
  &.active:before,
  &:after,
  &:before {
    background-image: none;
  }
}
.card.rare {
  --color1: #af13ce;
  --color2: #87a593;
  --color3: #ffbe33;
  --color4: #ffcf33;
  border: 6px solid #f7c41f;
}
.card.legend {
  --color1: #e09a3d;
  --color2: #41ece4;
  --color3: #ff9f9f;
  --color4: #ff7676;
  border: 6px solid #e65050;
}

.card-items {
  position: relative;
  text-align: left;
  height: $height-card;
  color: #000;
  background-image: linear-gradient(45deg, var(--color3), var(--color4));
  font-size: 11px;
  padding: 5px;
  .ct-head {
    display: block;
  }
  .ct-banner {
    img {
      box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.3);
      width: 100%;
      border: 5px var(--color3) outset;
    }
  }
  .ct-content {
    padding-top: 5px;
    .sub-content {
      padding: 5px;
      line-height: 10px;
      color: #fff;
      font-size: 10px;
      // border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 4px;
    }
  }
  .text-footer {
    font-size: 7px;
    width: 100%;
    text-align: center;
    margin-top: 6px;
    position: absolute;
    bottom: 13px;
    left: 0px;
  }
}

.text-center {
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-cont {
  visibility: hidden;
  opacity: 0;
}

.flip-cont {
  margin: 12px 6px;
  position: relative;
  background-color: #333;
  width: $width-card;
  border-radius: 5%/3.5%;
  height: $height-card;
  cursor: pointer;
  .flip-card {
    transition: all 600ms;
    background-image: url("../back_card.jpg");
    width: $width-card;
    height: $height-card;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 11;
    border-radius: 5%/3.5%;
  }
  &.fliped {
    background-color: transparent;
    .flip-card {
      visibility: hidden;
      opacity: 0;
      transform: rotateY(180deg);
    }
    .card-cont {
      transition: all 0.6s 0.3s;
      visibility: visible;
      opacity: 1;
    }
  }
}
